
.nav {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    position: relative;
    z-index: 999;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}


.logo{
    width: 9.294rem;
    margin-left:10rem;
}

.menuIcon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.rightBar {
    display: flex;
    align-items: center;
    margin-right: 10.156rem;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.list li a {
    text-decoration: none;
    color: inherit;
}

.list li a:hover {
    text-decoration: underline;
}

.listItems {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.listItems a {
    text-decoration: underline;
    color:var(--secondary);
}

.listItems button {
    padding: 5px 10px;
    border: none;
    background-color: var(--secondary);
    color: var(--white);
    cursor: pointer;
    border-radius: 6px;
    visibility: hidden;
}

.list li a:not(.register-link) {
    text-decoration: none;
}

a .active {
    color: var(--secondary);
    font-weight: bold;
}

.searchPart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
     background-color: var(--background);
}

 .searchPart .searchInput
 {
    width: 32.313rem;
    height: 3.5rem;
    border-radius: 0.625rem;
   border: none;
   outline: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   position: relative;
   padding-left: 15px;
 }

 .searchPart .searchForm{

     position: absolute;
     right:33%;
    
 }

 .searchBtn{
    width: 6.688rem;
    height: 2.1rem;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    font-size: 16px;
    font-weight: 300;
 }

 .searchCountResult{
    font-size: 0.80rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }
 

 .mainContent{
   
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3.25rem;
    margin-inline: auto;

 }

.filterSection
{
    height: 48rem;
    width: 14.813rem;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    margin-right:3rem;
  
}

.filterSection .filterSectionContent{
    height: 51.688rem ;
    width: 12.563rem;
    margin: 0.938rem;
   
}


.filterSectionContent  select{
    width: 12.563rem;
    border-radius:0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--border03);
    color: var(--PlaceHolder);
}

.filterSectionContent  select:focus{
    outline: none;
}


.borderBottom{
    padding-bottom: 1.125rem;
    border-bottom: 1px solid var(--secondary);
    
}

.JobSeekerProfileItem{
   align-items: center !important;
   width:12.563rem ;
   height:2.125rem;
   background-color: var(--border03);
   border: 1px solid var(--secondary);
}


.filterSection .titleOne,.filterSection .titleTwo{
font-size: 1rem;
font-weight: 500;

}


.filterSection .titleTwo{
    margin-top: 0.8rem;
}



  .checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    padding: 2px;
    border: 1px solid var(--primary); 
    border-radius: 2px;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox:checked {
    background-color:var(--primary); 
  }
  
  .checkbox:checked::after {
    content: "\2713"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 16px;
  }
  
  



.filterbtn{
    width: 12.563rem;
    height: 1.5rem;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 4px;
   font-size: 12px;
   font-weight: inherit;
   margin-inline: auto;
}

.borderBottomTwo{
    border-bottom: 1px solid var(--secondary);
}






/* Responsive styles */
@media (max-width: 768px) {
    .menuIcon {
        display: block;
    }

    .rightBar {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        background-color:var(--white);
        z-index: 999 ;
    }

    .rightBar.open {
        height: 100vh;
    }

    .list {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .list li {
        width: 100%;
        text-align: center;
    }

    .listItems {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: auto;
        margin-top: 20px;
    }

    .register-link, button {
        width: auto;
        text-align: center;
        margin: 0 5px;
        visibility: visible;
    }

    button {
        width: auto;
        margin: 0 5px;
    }
}


@media screen and (max-width: 768px ) 
 {
    .searchPart .searchForm{
        position: absolute;
        right:0;
    }



    .searchInput {
        margin-bottom: 10px;
      }
    
      .searchForm {
        margin-left: 0;
      }
    .filterSection .filterSectionContent{
        display: none;
    }

 }




