.profile{
    margin-left: 1.625rem;
    display: flex;
    justify-content: space-between;
    height: 3.438rem;
    width: 9.813rem;
    text-align: center;
    margin-bottom: 0.938rem;
    margin-top: 29px;

    
}
.profile .img{
    width: 3.438rem;
    height:3.438rem;
}

.profile .profileText{
    width: 5.75rem;
    height: 2.313rem;
    margin: auto;
    text-align:start;
    margin-left: 0.625rem;
}

.profile .profileText .profileTextTitle{
    font-size: 1rem;
    font-weight: 500;
}

.profile .profileText .profileTextSubTitle{
    font-size: 0.75rem;
    color: var(--secondary);
}