.container {
  width: 52.1875rem; /* 52.1875rem */
  height: 15rem; /* 15rem */
  border: 1px solid #01a84d;
  border-radius: 1rem; /* 16px */
  padding-top: 1.25rem; /* 20px */
  /* padding-left: 1.4375rem; */ /* Commented out as it's not being converted to rem */
  justify-content: center;
  gap: 3.5rem; /* 56px */
}


.padding {
  padding-top: 1.25rem; /* 20px */
}
.padding2 {
  padding-top: 1.25rem; /* 20px */
}

.marginLeft {
  margin-left: 1rem; /* 16px */
}

.title {
  margin-bottom: 0.25rem; /* 4px */
}

.subtext {
  font-size: 0.75rem; /* 12px */
  color: var(--PlaceHolder);
}

.separator {
  width: 38.3rem; /* 38.3rem */
  /* margin-left: 1.5rem; */ /* Commented out as it's not being converted to rem */
  margin-top: 1rem; /* 16px */
  margin-bottom: 0.875rem; /* 14px */
  border: solid 1px var(--border01);
}

.container2 {
        width: 15%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 8.625rem; /* 138px */
}

.jobDescription {
  width: 100%; /* 605px */
  font-size: 1rem; /* 1rem */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
}

.button {
  width: 6.5rem; /* 104px */
  height: 2.125rem; /* 34px */
  border: none;
  border-radius: 0.5rem; /* 8px */
  background-color: #01a84d;
  color: white;
  font-size: 1rem; /* 1rem */
}
.favIcon {
}

.detailsContainer {
     width: 75%;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 992px) {
  .container {
    gap: 0;
    width: 44rem;
  }
  .detailsContainer {
    width: 35.375rem;
  }
  .jobDescription {
    
  }
  .separator {
    width: 34.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 34rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .container2 {
    display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
  }
  .detailsContainer {
    width: 31.375rem;
  }
  .jobDescription {
 
  }
  .separator {
    width: 100%;
  }
  .button {
                  width: 93%;
  }
  .favIcon {
    /* display: none; */
    position: absolute;
    top: 14px;
    right: 14px;
  }
  .padding2 {
    padding-top: 0; /* 20px */
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 26rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }
    .button {
    width: 23.5rem;
    
  }
  .detailsContainer{
            width: 23.375rem;

  }
      .jobDescription {
      
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
